* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 140%;
    font-feature-settings: "calt" on;
}

#cv {
    width: 8.5in; /* standard letter size */
    text-align: left;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
    justify-content: space-between;
}

h1 {
    font-size: 20pt;
    font-weight: 400;
    margin: 0;
}

h2 {
    color: #a6bed9;
    font-weight: 450;
    font-size: 13pt;
    margin: 6pt 0 2pt 0;
}

h3 {
    font-size: 12pt;
    font-weight: 450;
    margin: 0;
}

h4 {
    font-size: 11pt;
    font-weight: 450;
    margin: 0;
}

p, ul, li {
    font-size: 11pt;
    font-weight: 400;
    margin: 0;
}

b {
    font-weight: 500;
}

ul {
    padding-left: 28px;
    list-style-type: square;
    margin-bottom: 2pt;
}

span.special {
    color: #003366;
    font-weight: 400;
}

span.year {
    font-weight: 370;
    color: #606060;
}

a {
    /*text-decoration: none;*/
    color: black;
}

a:visited {
    color: black;
}

@media print {
    h1, h2, h3 h4 {
        page-break-after: avoid;
    }

    ul {
        page-break-before: avoid;
    }

    li {
        page-break-inside: avoid;
    }

    /*body {*/
    /*    zoom: 94%; !* adjust zoom for better print fit *!*/
    /*}*/
}