* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 140%;
    font-feature-settings: "calt" on;
}

#cv {
    width: 8.5in; /* standard letter size */
    text-align: left;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
    justify-content: space-between;
}

h1 {
    font-size: 1.95rem;
    font-weight: 500;
    margin: 0 0 0.15rem 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0 0 0.10rem 0;
}

h3 {
    color: #a6bed9;
    font-weight: 500;
    font-size: 1.35rem;
    margin: 0.20rem 0 0 0;
}

h4 {
    font-size: 1.10rem;
    font-weight: 500;
    margin: 0.10rem 0;
}

h4.small {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 0.10rem 0 0.10rem 0;
}

p.big {
    font-size: 11.5pt;
    font-weight: 400;
    margin: 0 0 0.15rem 0;
}

p, ul, li {
    margin: 0;
    font-size: 11pt;
    font-weight: 400;
}

b {
    font-weight: 500;
}

ul {
    padding-left: 28px;
    list-style-type: square;
}

span.special {
    color: #003366;
    font-weight: 450;
}

span.light {
    font-weight: 350;
    color: #707070;
}

a {
    /*text-decoration: none;*/
    color: black;
}

a:visited {
    color: black;
}

@media print {
    h1, h2, h3 h4 {
        page-break-after: avoid;
    }

    body {
        zoom: 97%; /* adjust zoom for better print fit */
    }
}