* {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#cv {
    width: 100%;
    max-width: 8.5in; /* Standard letter size */
    padding: 0.20in; /* Margins for printing */
    text-align: left;
}

/* fav color: #b8e2f2 */

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 0.5em 0;
}

h2 {
    font-weight: 600;
    margin: 0 0 0.5em 0;
}

h3 {
    color: #75c6e6; /* 68% HS(L) fav */
    font-weight: 600;
    margin: 0.75rem 0 0.5em 0;
}

h4 {
    font-weight: 600;
    margin: 0.75rem 0 0 0;
}

p {
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0.25rem 0;
}

.small-gray-text {
    font-size: 0.9em;
    color: gray;
    margin-left: 0.5rem;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:visited {
    color: #0066cc;
}

@media print {
    body {
        font-size: 11pt;
    }

    h1, h2, h3 {
        page-break-after: avoid;
    }
}