* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 140%;
    font-feature-settings: "calt" on;
}

#cv {
    /*width: 100%;*/
    width: 8.5in; /* standard letter size */
    /*padding: 0.1in; !* margins for printing *!*/
    text-align: left;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex-grow: 1;
    justify-content: space-between;
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    margin: 0 0 0.35rem 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 0.25rem 0;
}

h3 {
    color: #91b2bf; /* 75% HS(V) #b8e2f2 */
    font-weight: 500;
    font-size: 1.40rem;
    margin: 0.55rem 0 0 0;
}

h4 {
    font-size: 1.15rem;
    font-weight: 500;
    margin: 0.10rem 0 0.20rem 0;
}

p, ul {
    margin: 0;
    font-size: 11pt;
    font-weight: 400;
    line-height: 140%;
}

ul {
    padding-left: 30px;
    list-style-type: square;
}

span.special {
    color: #003973; /* 45% HS(V) #0066cc */
    font-weight: 450;
}

span.light {
    font-weight: 350;
    color: #707070;
}

a {
    /*text-decoration: none;*/
    color: black;
}

a:visited {
    color: black;
}

@media print {
    h1, h2, h3 h4 {
        page-break-after: avoid;
    }
}